@import "tailwindcss";

/* ซ่อนปุ่มเพิ่ม/ลด ของ number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* สำหรับ Firefox */
}
